<div data-ng-controller="emailclientinfocontroller">
							<div class="login-top agileinfo">
								<h2>Email Client</h2>
									<div class="containerw3layouts-agileits">

											<div class="w3layoutscontactagileits">
												<form action="#" method="post">
													<div class="w3_agileits_main_grid w3l_main_grid">
														<div class="agileits_grid">
															<h5>TO * </h5>
															<div class="email">
																<input type="email" name="Email" placeholder="ex : yourmail@gmail.com" required="" data-ng-model="toList">
															</div>
															<div class="clear"></div>
														</div>
													</div>
													<div class="w3_agileits_main_grid w3l_main_grid">
														<div class="agileits_grid">
															<h5>CC *</h5>
																<input type="email" name="Email" placeholder="ex : yourmail@gmail.com" required="" data-ng-model="ccList">
														</div>
													</div>
													<div class="agileinfo_main_grid1">
													<div class="agileits_w3layouts_grid mim">
														<h5>Comments*</h5>
														<div class="rteditable" style="height:189px" data-ui-tinymce="loadtinymce" data-ng-model="comment" style="width:100%"></div>
														</select>
													</div>
													</div>
													<div class="aitssubmitw3ls">
														<input type="submit" name="submit" value="Send Mail" data-ng-click="sendMAil()">
													</div>

												</form>
											</div>

									</div>		
							</div>
						</div>